<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        <% include ../static/partials/messages.ejs %>

        <main class="grid-container">
            <div class="grid0-x grid-padding-y">
                <div class="cell card">
                    <h1>Thanks for becoming a Premium member!</h1>

                    <p>Now you can create private wikis!</p>
                </div>
            </div>
        </main>
        
        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>