<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>
        <% include ../static/partials/navbar.ejs %>
        <% include ../static/partials/messages.ejs %>

        <main class="grid-container">
            <div class="grid-x grid-padding-y">
                <div class="cell">
                    <h1>Upgrade to Premium!</h1>
                    <p>Create private wikis and add collaborators for just $15.00!</p>
                    <p>Click the button below to upgrade!</p>
                </div>
                <div class="cell">
                <form action="/payments/charge" method="POST">
                    <script
                        src="https://checkout.stripe.com/checkout.js" 
                        class="stripe-button"
                        data-key="<%= publicKey %>"
                        data-locale="auto"
                        data-description="Sample Premium Account Charge"
                        data-amount="<%= process.env.PREMIUM_COST %>"
                        data-zip-code="true">
                    </script>
                </form>
                </div>
            </div>
        </main>
        
        <% include ../static/partials/baseScripts.ejs %>
    </body>

</html>