<% if(messages.error || messages.notice) { %>

    <div class="callout <%= messages.error ? 'alert' : 'warning' %>" data-closable>
        <% if(messages.error) { %>
            Validation errors:
            <ul>
                <% messages.error.forEach((err) => { %>
                    <li><%= `${err.param} ${err.msg}` %></li>
                <% }) %>
            </ul>
        <% } else { %>
            <p><%= messages.notice %></p>
        <% } %>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
<% } %>