<div data-sticky-container>
    <nav class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="/" class="menu-text">Blocipedia</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a href="/signin" class="hollow button">Sign In</a>
                </li>    
            </ul>
        </div>
    </nav>
</div>