<div data-sticky-container>
    <nav class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="top-bar-left">
            <a href="/" class="menu-text">Blocipedia</a>
        </div>
        <div class="top-bar-right">
            <a href="/signin" class="hollow button">Sign In</a>
        </div>
    </nav>
</div>