<div data-sticky-container>
    <nav class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="/" class="menu-text">Blocipedia</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <% if (currentUser) { %>
                <ul class="menu">
                    <li class="menu-text">
                        <%= currentUser.username %>
                    </li>
                    <li>
                        <a href="/users/signout" class="hollow button">Sign Out</a>
                    </li>
                </ul>
            <% } else { %>
                <ul class="menu">
                    <li>
                        <a href="/users/signup" class="hollow button">Sign Up</a>
                    </li>
                    <li>
                        <a href="/users/signin" class="hollow button">Sign In</a>
                    </li>    
                </ul>
            <% } %>
        </div>
    </nav>
</div>