<div data-sticky-container>
    <nav class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="/" class="menu-text">Blocipedia</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <% if (currentUser) { %>
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text has-submenu">
                        <%= currentUser.username %>
                        <ul class="submenu menu vertical" data-submenu>
                            <li>
                                <a href="#">Profile</a>
                            </li>
                            <li>
                                <a href="#">New Wiki</a>
                            </li>
                            <li>
                                <a href="/users/signout">Sign Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            <% } else { %>
                <ul class="menu">
                    <li>
                        <a href="/users/signup" class="hollow button">Sign Up</a>
                    </li>
                    <li>
                        <a href="/users/signin" class="hollow button">Sign In</a>
                    </li>    
                </ul>
            <% } %>
        </div>
    </nav>
</div>