<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        <% include ../static/partials/messages.ejs %>

        <div class="grid-container">
            <div class="grid-x grid-padding-x align-center">
                <h2 class="cell text-center">Edit wiki!</h2>
                <form method="POST" action="/wikis/<%= wiki.id %>/update" class="callout small-12 medium-8">
                    <div class="cell">
                        <label>Title:</label>
                        <input value="<%= wiki.title %>" type="text" name="title" placeholder="Enter Title" />
                    </div>
                    <div class="cell">
                        <label>Body:</label>
                        <textarea rows="20" name="body" placeholder="Start Wiki'ing!"><%= wiki.body %></textarea>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell shrink">
                            <input type="submit" value="Update" class="button primary" />
                        </div>
                        <% if (wiki.private) { %>
                            <div class="cell shrink">
                                <div class="input-group">
                                    <label for="private" class="text-right middle">Make Wiki Private:</label>
                                    <div class="switch large">
                                        <input class="switch-input" id="private" type="checkbox" name="private" <%= wiki.private ? "checked" : "" %>>
                                        <label class="switch-paddle" for="private">
                                            <span class="show-for-sr">Private switch</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>                
                </form>
            </div>
        </div>

        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>