<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>

        <main>

            <h1>Blocipedia</h1>

        </main>

        <% include ./partials/baseScripts.ejs %>
    </body>
</html>