<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <div>
            <% include ./partials/navbar.ejs %>
            <main class="grid-x align-center">

                <h1>Blocipedia</h1>

            </main>
        </div>
        <% include ./partials/baseScripts.ejs %>
    </body>
</html>