<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>
        <% include ../static/partials/navbar.ejs %>
        <% include ../static/partials/messages.ejs %>

        <main class="grid-container">
            <div class="grid-x grid-padding-y">
                <div class="cell">
                    <h1>Downgrade to a free account.</h1>
                    <form class="display: initial" action="/users/<%= currentUser.id %>/downgrade" method="POST">
                        <button type="submit" class="button alert">Cancel Premium</button>
                    </form>
                </div>
            </div>
        </main>
        
        <% include ../static/partials/baseScripts.ejs %>
    </body>

</html>